In [24]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import pandas as pd
import math
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from statsmodels.formula.api import ols
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn import metrics
from sklearn.preprocessing import StandardScaler
import pickle

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 50)

## Step 1: Read in hold out data, scalers, and best model

In [25]:
# holdout = pd.read_csv('resources/movies_holdout_features.csv', index_col=0)

In [26]:
# final_scaler = read_pickle(filename)
# final_model = read_pickle(filename)

In [45]:
holdout = pd.read_csv('kc_house_data_train.csv')
holdout

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,2591820310,20141006T000000,365000.0,4,2.25,2070,8893,2.0,0,0,4,8,2070,0,1986,0,98058,47.4388,-122.162,2390,7700
1,1,7974200820,20140821T000000,865000.0,5,3.00,2900,6730,1.0,0,0,5,8,1830,1070,1977,0,98115,47.6784,-122.285,2370,6283
2,2,7701450110,20140815T000000,1038000.0,4,2.50,3770,10893,2.0,0,2,3,11,3770,0,1997,0,98006,47.5646,-122.129,3710,9685
3,3,9522300010,20150331T000000,1490000.0,3,3.50,4560,14608,2.0,0,2,3,12,4560,0,1990,0,98034,47.6995,-122.228,4050,14226
4,4,9510861140,20140714T000000,711000.0,3,2.50,2550,5376,2.0,0,0,3,9,2550,0,2004,0,98052,47.6647,-122.083,2250,4050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17285,17285,627300195,20150303T000000,750000.0,5,2.50,3240,9960,1.0,0,1,3,8,2020,1220,1958,0,98008,47.5858,-122.112,2730,10400
17286,17286,8819900270,20140520T000000,440000.0,2,1.75,1300,4000,2.0,0,0,3,7,1300,0,1948,0,98105,47.6687,-122.288,1350,4013
17287,17287,3816300095,20140514T000000,310000.0,3,1.00,1050,9876,1.0,0,0,3,7,1050,0,1953,0,98028,47.7635,-122.262,1760,9403
17288,17288,122069107,20141204T000000,427500.0,3,1.50,1900,43186,1.5,0,0,4,7,1300,600,1971,0,98038,47.4199,-121.990,2080,108028
17289,17289,6703100135,20150116T000000,348000.0,3,1.50,1330,6768,1.0,0,0,4,7,1330,0,1952,0,98155,47.7366,-122.319,1320,6910

In [37]:
pickle_in = open("model.pickle", "rb")
model = pickle.load(pickle_in)

In [39]:
model.coef_

array([-1.00670530e+07, -3.11319588e+01,  1.08106252e+05, -2.80476547e+06,
        3.86849729e+05,  8.16749664e+05, -3.08380365e+03, -1.27171123e+05,
        1.00673720e+07,  1.00680501e+07,  5.08422818e+00, -1.51892032e+01,
        5.97572636e-01,  2.07801645e+02,  1.85526806e+01,  1.36339153e+01,
        1.81233079e+01, -5.81952396e-01, -3.29081187e+00, -7.08464142e+00,
        8.16216925e-07, -1.16938776e-01, -2.00154025e+00,  5.08447020e-02,
       -7.86018174e-03,  1.41913741e-04,  1.60761921e-02,  1.51884761e+01,
        1.51887350e+01,  4.94039648e+03,  2.33593061e+04,  9.06705399e+03,
        1.08351583e+04,  2.02239738e+00, -9.34759688e+01, -1.48978639e+01,
       -5.67369750e+00, -2.80474531e+06,  8.91944390e+03, -1.16807109e+05,
       -9.02490191e+01,  3.09683294e+03,  8.64777325e+01,  1.40399957e+02,
        6.65465547e+02,  8.34616825e+03, -2.03607826e+01, -2.42400274e+02,
        7.12730052e+00,  8.23228488e+00,  7.44158615e+03,  8.64445035e+00,
       -4.55326681e+02,  4.62872444e+01,  9.42587050e+00,  5.79743266e-01,
        9.83941612e-01, -1.80879100e+01, -1.81073595e+01,  3.31764005e+01,
        2.33802974e-01, -5.54879075e-02, -1.87539559e+00,  2.33296296e-01,
        2.02828386e+00])

In [49]:
feature_in = open("feature.pickle", "rb")
feature = pickle.load(feature_in)
feature_in.close()

In [40]:
type(model)

sklearn.linear_model._base.LinearRegression

In [51]:
type(feature)

sklearn.preprocessing._data.PolynomialFeatures

## Step 2: Feature Engineering for holdout set

Remember we have to perform the same transformations on our holdout data (feature engineering, extreme values, and scaling) that we performed on the original data.

In [46]:
holdout

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,2591820310,20141006T000000,365000.0,4,2.25,2070,8893,2.0,0,0,4,8,2070,0,1986,0,98058,47.4388,-122.162,2390,7700
1,1,7974200820,20140821T000000,865000.0,5,3.00,2900,6730,1.0,0,0,5,8,1830,1070,1977,0,98115,47.6784,-122.285,2370,6283
2,2,7701450110,20140815T000000,1038000.0,4,2.50,3770,10893,2.0,0,2,3,11,3770,0,1997,0,98006,47.5646,-122.129,3710,9685
3,3,9522300010,20150331T000000,1490000.0,3,3.50,4560,14608,2.0,0,2,3,12,4560,0,1990,0,98034,47.6995,-122.228,4050,14226
4,4,9510861140,20140714T000000,711000.0,3,2.50,2550,5376,2.0,0,0,3,9,2550,0,2004,0,98052,47.6647,-122.083,2250,4050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17285,17285,627300195,20150303T000000,750000.0,5,2.50,3240,9960,1.0,0,1,3,8,2020,1220,1958,0,98008,47.5858,-122.112,2730,10400
17286,17286,8819900270,20140520T000000,440000.0,2,1.75,1300,4000,2.0,0,0,3,7,1300,0,1948,0,98105,47.6687,-122.288,1350,4013
17287,17287,3816300095,20140514T000000,310000.0,3,1.00,1050,9876,1.0,0,0,3,7,1050,0,1953,0,98028,47.7635,-122.262,1760,9403
17288,17288,122069107,20141204T000000,427500.0,3,1.50,1900,43186,1.5,0,0,4,7,1300,600,1971,0,98038,47.4199,-121.990,2080,108028
17289,17289,6703100135,20150116T000000,348000.0,3,1.50,1330,6768,1.0,0,0,4,7,1330,0,1952,0,98155,47.7366,-122.319,1320,6910

In [58]:
features_orig = ['sqft_living', 'sqft_lot', 'view', 'waterfront', 'condition', 'grade', 'yr_renovated',
            'yr_built', 'sqft_basement', 'sqft_above']

In [59]:
poly = PolynomialFeatures(degree=2, include_bias=False)
poly_data = poly.fit_transform(holdout[features_orig])
poly_data

array([[2.07000e+03, 8.89300e+03, 0.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 4.28490e+06],
       [2.90000e+03, 6.73000e+03, 0.00000e+00, ..., 1.14490e+06,
        1.95810e+06, 3.34890e+06],
       [3.77000e+03, 1.08930e+04, 2.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 1.42129e+07],
       ...,
       [1.05000e+03, 9.87600e+03, 0.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 1.10250e+06],
       [1.90000e+03, 4.31860e+04, 0.00000e+00, ..., 3.60000e+05,
        7.80000e+05, 1.69000e+06],
       [1.33000e+03, 6.76800e+03, 0.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 1.76890e+06]])

In [61]:
target = holdout['price']

In [52]:
model.predict(['sqft_living', 'sqft_lot', 'view', 'waterfront', 'condition', 'grade', 'yr_renovated',
            'yr_built', 'sqft_basement', 'sqft_above'])

ValueError: Expected 2D array, got 1D array instead:
array=['sqft_living' 'sqft_lot' 'view' 'waterfront' 'condition' 'grade'
 'yr_renovated' 'yr_built' 'sqft_basement' 'sqft_above'].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [ ]:
# transformed_holdout = final_scaler(holdout)

## Step 3: Predict the holdout set

In [ ]:
# final_answers = final_model.predict(transformed_holdout)

## Step 4: Export your predictions

In [ ]:
# final_answer.to_csv('housing_preds_your_name.csv')