In [105]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import pandas as pd
import math
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from statsmodels.formula.api import ols
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn import metrics
from sklearn.preprocessing import StandardScaler
import pickle

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 50)

## Step 1: Read in hold out data, scalers, and best model

In [106]:
# holdout = pd.read_csv('resources/movies_holdout_features.csv', index_col=0)

In [107]:
# final_scaler = read_pickle(filename)
# final_model = read_pickle(filename)

In [108]:
holdout = pd.read_csv('kc_house_data_test_features.csv', index_col=0)
holdout

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,1974300020,20140827T000000,4,2.50,2270,11500,1.0,0,0,3,8,1540,730,1967,0,98034,47.7089,-122.241,2020,10918
1,1974300020,20150218T000000,4,2.50,2270,11500,1.0,0,0,3,8,1540,730,1967,0,98034,47.7089,-122.241,2020,10918
2,3630020380,20141107T000000,3,2.50,1470,1779,2.0,0,0,3,8,1160,310,2005,0,98029,47.5472,-121.998,1470,1576
3,1771000290,20141203T000000,3,1.75,1280,16200,1.0,0,0,3,8,1030,250,1976,0,98077,47.7427,-122.071,1160,10565
4,5126310470,20150115T000000,4,2.75,2830,8126,2.0,0,0,3,8,2830,0,2005,0,98059,47.4863,-122.140,2830,7916
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4318,263000018,20140521T000000,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
4319,6600060120,20150223T000000,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
4320,1523300141,20140623T000000,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
4321,291310100,20150116T000000,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
4322,1523300157,20141015T000000,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [109]:
pickle_in = open("model.pickle", "rb")
model = pickle.load(pickle_in)

In [110]:
len(model.coef_)

350

In [111]:
type(model)

sklearn.linear_model._base.LinearRegression

In [112]:
type(feature)

sklearn.preprocessing._data.PolynomialFeatures

## Step 2: Feature Engineering for holdout set

Remember we have to perform the same transformations on our holdout data (feature engineering, extreme values, and scaling) that we performed on the original data.

In [113]:
holdout

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,1974300020,20140827T000000,4,2.50,2270,11500,1.0,0,0,3,8,1540,730,1967,0,98034,47.7089,-122.241,2020,10918
1,1974300020,20150218T000000,4,2.50,2270,11500,1.0,0,0,3,8,1540,730,1967,0,98034,47.7089,-122.241,2020,10918
2,3630020380,20141107T000000,3,2.50,1470,1779,2.0,0,0,3,8,1160,310,2005,0,98029,47.5472,-121.998,1470,1576
3,1771000290,20141203T000000,3,1.75,1280,16200,1.0,0,0,3,8,1030,250,1976,0,98077,47.7427,-122.071,1160,10565
4,5126310470,20150115T000000,4,2.75,2830,8126,2.0,0,0,3,8,2830,0,2005,0,98059,47.4863,-122.140,2830,7916
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4318,263000018,20140521T000000,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
4319,6600060120,20150223T000000,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
4320,1523300141,20140623T000000,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
4321,291310100,20150116T000000,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
4322,1523300157,20141015T000000,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [114]:
holdout['bedrooms'] = holdout['bedrooms'].replace([0,33,11],[holdout['bedrooms'].median(),3, 4])
holdout['bedrooms']

0       4.0
1       4.0
2       3.0
3       3.0
4       4.0
       ...
4318    3.0
4319    4.0
4320    2.0
4321    3.0
4322    2.0
Name: bedrooms, Length: 4323, dtype: float64

In [115]:
holdout['age'] = 2020 - holdout['yr_built']

In [116]:
holdout['renovation_age'] = np.where(holdout['yr_renovated']>0, 2020 - holdout['yr_renovated'], 0)

In [117]:
df_dummy = pd.get_dummies(holdout, columns=['condition', 'view', 'grade'], drop_first=True)

In [118]:
features = ['sqft_living', 'sqft_lot', 'view_3', 'view_1', 'view_2', 'view_4', 'waterfront', 'condition_2', 'condition_3',
            'condition_4', 'condition_5', 'grade_4', 'grade_5','grade_6', 'grade_7', 'grade_8', 'grade_9',
           'grade_10', 'grade_11', 'grade_12', 'grade_13', 'yr_renovated', 'age', 'sqft_basement', 'sqft_above']

In [119]:
poly = PolynomialFeatures(degree=2, include_bias=False)
poly_data = poly.fit_transform(df_dummy[features])
poly_data

array([[2.2700e+03, 1.1500e+04, 0.0000e+00, ..., 5.3290e+05, 1.1242e+06,
        2.3716e+06],
       [2.2700e+03, 1.1500e+04, 0.0000e+00, ..., 5.3290e+05, 1.1242e+06,
        2.3716e+06],
       [1.4700e+03, 1.7790e+03, 0.0000e+00, ..., 9.6100e+04, 3.5960e+05,
        1.3456e+06],
       ...,
       [1.0200e+03, 1.3500e+03, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        1.0404e+06],
       [1.6000e+03, 2.3880e+03, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        2.5600e+06],
       [1.0200e+03, 1.0760e+03, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        1.0404e+06]])

In [120]:
poly.get_feature_names(features)

['sqft_living',
 'sqft_lot',
 'view_3',
 'view_1',
 'view_2',
 'view_4',
 'waterfront',
 'condition_2',
 'condition_3',
 'condition_4',
 'condition_5',
 'grade_4',
 'grade_5',
 'grade_6',
 'grade_7',
 'grade_8',
 'grade_9',
 'grade_10',
 'grade_11',
 'grade_12',
 'grade_13',
 'yr_renovated',
 'age',
 'sqft_basement',
 'sqft_above',
 'sqft_living^2',
 'sqft_living sqft_lot',
 'sqft_living view_3',
 'sqft_living view_1',
 'sqft_living view_2',
 'sqft_living view_4',
 'sqft_living waterfront',
 'sqft_living condition_2',
 'sqft_living condition_3',
 'sqft_living condition_4',
 'sqft_living condition_5',
 'sqft_living grade_4',
 'sqft_living grade_5',
 'sqft_living grade_6',
 'sqft_living grade_7',
 'sqft_living grade_8',
 'sqft_living grade_9',
 'sqft_living grade_10',
 'sqft_living grade_11',
 'sqft_living grade_12',
 'sqft_living grade_13',
 'sqft_living yr_renovated',
 'sqft_living age',
 'sqft_living sqft_basement',
 'sqft_living sqft_above',
 'sqft_lot^2',
 'sqft_lot view_3',
 'sqft_lot view_1',
 'sqft_lot view_2',
 'sqft_lot view_4',
 'sqft_lot waterfront',
 'sqft_lot condition_2',
 'sqft_lot condition_3',
 'sqft_lot condition_4',
 'sqft_lot condition_5',
 'sqft_lot grade_4',
 'sqft_lot grade_5',
 'sqft_lot grade_6',
 'sqft_lot grade_7',
 'sqft_lot grade_8',
 'sqft_lot grade_9',
 'sqft_lot grade_10',
 'sqft_lot grade_11',
 'sqft_lot grade_12',
 'sqft_lot grade_13',
 'sqft_lot yr_renovated',
 'sqft_lot age',
 'sqft_lot sqft_basement',
 'sqft_lot sqft_above',
 'view_3^2',
 'view_3 view_1',
 'view_3 view_2',
 'view_3 view_4',
 'view_3 waterfront',
 'view_3 condition_2',
 'view_3 condition_3',
 'view_3 condition_4',
 'view_3 condition_5',
 'view_3 grade_4',
 'view_3 grade_5',
 'view_3 grade_6',
 'view_3 grade_7',
 'view_3 grade_8',
 'view_3 grade_9',
 'view_3 grade_10',
 'view_3 grade_11',
 'view_3 grade_12',
 'view_3 grade_13',
 'view_3 yr_renovated',
 'view_3 age',
 'view_3 sqft_basement',
 'view_3 sqft_above',
 'view_1^2',
 'view_1 view_2',
 'view_1 view_4',
 'view_1 waterfront',
 'view_1 condition_2',
 'view_1 condition_3',
 'view_1 condition_4',
 'view_1 condition_5',
 'view_1 grade_4',
 'view_1 grade_5',
 'view_1 grade_6',
 'view_1 grade_7',
 'view_1 grade_8',
 'view_1 grade_9',
 'view_1 grade_10',
 'view_1 grade_11',
 'view_1 grade_12',
 'view_1 grade_13',
 'view_1 yr_renovated',
 'view_1 age',
 'view_1 sqft_basement',
 'view_1 sqft_above',
 'view_2^2',
 'view_2 view_4',
 'view_2 waterfront',
 'view_2 condition_2',
 'view_2 condition_3',
 'view_2 condition_4',
 'view_2 condition_5',
 'view_2 grade_4',
 'view_2 grade_5',
 'view_2 grade_6',
 'view_2 grade_7',
 'view_2 grade_8',
 'view_2 grade_9',
 'view_2 grade_10',
 'view_2 grade_11',
 'view_2 grade_12',
 'view_2 grade_13',
 'view_2 yr_renovated',
 'view_2 age',
 'view_2 sqft_basement',
 'view_2 sqft_above',
 'view_4^2',
 'view_4 waterfront',
 'view_4 condition_2',
 'view_4 condition_3',
 'view_4 condition_4',
 'view_4 condition_5',
 'view_4 grade_4',
 'view_4 grade_5',
 'view_4 grade_6',
 'view_4 grade_7',
 'view_4 grade_8',
 'view_4 grade_9',
 'view_4 grade_10',
 'view_4 grade_11',
 'view_4 grade_12',
 'view_4 grade_13',
 'view_4 yr_renovated',
 'view_4 age',
 'view_4 sqft_basement',
 'view_4 sqft_above',
 'waterfront^2',
 'waterfront condition_2',
 'waterfront condition_3',
 'waterfront condition_4',
 'waterfront condition_5',
 'waterfront grade_4',
 'waterfront grade_5',
 'waterfront grade_6',
 'waterfront grade_7',
 'waterfront grade_8',
 'waterfront grade_9',
 'waterfront grade_10',
 'waterfront grade_11',
 'waterfront grade_12',
 'waterfront grade_13',
 'waterfront yr_renovated',
 'waterfront age',
 'waterfront sqft_basement',
 'waterfront sqft_above',
 'condition_2^2',
 'condition_2 condition_3',
 'condition_2 condition_4',
 'condition_2 condition_5',
 'condition_2 grade_4',
 'condition_2 grade_5',
 'condition_2 grade_6',
 'condition_2 grade_7',
 'condition_2 grade_8',
 'condition_2 grade_9',
 'condition_2 grade_10',
 'condition_2 grade_11',
 'condition_2 grade_12',
 'condition_2 grade_13',
 'condition_2 yr_renovated',
 'condition_2 age',
 'condition_2 sqft_basement',
 'condition_2 sqft_above',
 'condition_3^2',
 'condition_3 condition_4',
 'condition_3 condition_5',
 'condition_3 grade_4',
 'condition_3 grade_5',
 'condition_3 grade_6',
 'condition_3 grade_7',
 'condition_3 grade_8',
 'condition_3 grade_9',
 'condition_3 grade_10',
 'condition_3 grade_11',
 'condition_3 grade_12',
 'condition_3 grade_13',
 'condition_3 yr_renovated',
 'condition_3 age',
 'condition_3 sqft_basement',
 'condition_3 sqft_above',
 'condition_4^2',
 'condition_4 condition_5',
 'condition_4 grade_4',
 'condition_4 grade_5',
 'condition_4 grade_6',
 'condition_4 grade_7',
 'condition_4 grade_8',
 'condition_4 grade_9',
 'condition_4 grade_10',
 'condition_4 grade_11',
 'condition_4 grade_12',
 'condition_4 grade_13',
 'condition_4 yr_renovated',
 'condition_4 age',
 'condition_4 sqft_basement',
 'condition_4 sqft_above',
 'condition_5^2',
 'condition_5 grade_4',
 'condition_5 grade_5',
 'condition_5 grade_6',
 'condition_5 grade_7',
 'condition_5 grade_8',
 'condition_5 grade_9',
 'condition_5 grade_10',
 'condition_5 grade_11',
 'condition_5 grade_12',
 'condition_5 grade_13',
 'condition_5 yr_renovated',
 'condition_5 age',
 'condition_5 sqft_basement',
 'condition_5 sqft_above',
 'grade_4^2',
 'grade_4 grade_5',
 'grade_4 grade_6',
 'grade_4 grade_7',
 'grade_4 grade_8',
 'grade_4 grade_9',
 'grade_4 grade_10',
 'grade_4 grade_11',
 'grade_4 grade_12',
 'grade_4 grade_13',
 'grade_4 yr_renovated',
 'grade_4 age',
 'grade_4 sqft_basement',
 'grade_4 sqft_above',
 'grade_5^2',
 'grade_5 grade_6',
 'grade_5 grade_7',
 'grade_5 grade_8',
 'grade_5 grade_9',
 'grade_5 grade_10',
 'grade_5 grade_11',
 'grade_5 grade_12',
 'grade_5 grade_13',
 'grade_5 yr_renovated',
 'grade_5 age',
 'grade_5 sqft_basement',
 'grade_5 sqft_above',
 'grade_6^2',
 'grade_6 grade_7',
 'grade_6 grade_8',
 'grade_6 grade_9',
 'grade_6 grade_10',
 'grade_6 grade_11',
 'grade_6 grade_12',
 'grade_6 grade_13',
 'grade_6 yr_renovated',
 'grade_6 age',
 'grade_6 sqft_basement',
 'grade_6 sqft_above',
 'grade_7^2',
 'grade_7 grade_8',
 'grade_7 grade_9',
 'grade_7 grade_10',
 'grade_7 grade_11',
 'grade_7 grade_12',
 'grade_7 grade_13',
 'grade_7 yr_renovated',
 'grade_7 age',
 'grade_7 sqft_basement',
 'grade_7 sqft_above',
 'grade_8^2',
 'grade_8 grade_9',
 'grade_8 grade_10',
 'grade_8 grade_11',
 'grade_8 grade_12',
 'grade_8 grade_13',
 'grade_8 yr_renovated',
 'grade_8 age',
 'grade_8 sqft_basement',
 'grade_8 sqft_above',
 'grade_9^2',
 'grade_9 grade_10',
 'grade_9 grade_11',
 'grade_9 grade_12',
 'grade_9 grade_13',
 'grade_9 yr_renovated',
 'grade_9 age',
 'grade_9 sqft_basement',
 'grade_9 sqft_above',
 'grade_10^2',
 'grade_10 grade_11',
 'grade_10 grade_12',
 'grade_10 grade_13',
 'grade_10 yr_renovated',
 'grade_10 age',
 'grade_10 sqft_basement',
 'grade_10 sqft_above',
 'grade_11^2',
 'grade_11 grade_12',
 'grade_11 grade_13',
 'grade_11 yr_renovated',
 'grade_11 age',
 'grade_11 sqft_basement',
 'grade_11 sqft_above',
 'grade_12^2',
 'grade_12 grade_13',
 'grade_12 yr_renovated',
 'grade_12 age',
 'grade_12 sqft_basement',
 'grade_12 sqft_above',
 'grade_13^2',
 'grade_13 yr_renovated',
 'grade_13 age',
 'grade_13 sqft_basement',
 'grade_13 sqft_above',
 'yr_renovated^2',
 'yr_renovated age',
 'yr_renovated sqft_basement',
 'yr_renovated sqft_above',
 'age^2',
 'age sqft_basement',
 'age sqft_above',
 'sqft_basement^2',
 'sqft_basement sqft_above',
 'sqft_above^2']

In [121]:
feature_in = open("feature.pickle", "rb")
feature = pickle.load(feature_in)
feature_in.close()

In [122]:
poly_data

array([[2.2700e+03, 1.1500e+04, 0.0000e+00, ..., 5.3290e+05, 1.1242e+06,
        2.3716e+06],
       [2.2700e+03, 1.1500e+04, 0.0000e+00, ..., 5.3290e+05, 1.1242e+06,
        2.3716e+06],
       [1.4700e+03, 1.7790e+03, 0.0000e+00, ..., 9.6100e+04, 3.5960e+05,
        1.3456e+06],
       ...,
       [1.0200e+03, 1.3500e+03, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        1.0404e+06],
       [1.6000e+03, 2.3880e+03, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        2.5600e+06],
       [1.0200e+03, 1.0760e+03, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        1.0404e+06]])

In [123]:
y_pred = model.predict(poly_data)
y_pred

array([528161.2206901 , 528161.2206901 , 438561.36170107, ...,
       307883.86777354, 417078.96636259, 305928.66843374])

In [82]:
# transformed_holdout = final_scaler(holdout)

## Step 3: Predict the holdout set

In [83]:
# final_answers = final_model.predict(transformed_holdout)

In [124]:
y_pred = model.predict(poly_data)
y_pred

array([528161.2206901 , 528161.2206901 , 438561.36170107, ...,
       307883.86777354, 417078.96636259, 305928.66843374])

## Step 4: Export your predictions

In [85]:
# final_answer.to_csv('housing_preds_your_name.csv')

In [125]:
pd.DataFrame(y_pred).to_csv('housing_pred_Raizel_Bernstein_1.csv')