In [23]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import pandas as pd
import math
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from statsmodels.formula.api import ols
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn import metrics
from sklearn.preprocessing import StandardScaler
import pickle

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 50)

## Step 1: Read in hold out data, scalers, and best model

In [24]:
# final_scaler = read_pickle(filename)
# final_model = read_pickle(filename)

In [25]:
holdout = pd.read_csv('kc_house_data_test_features.csv', index_col=0)
holdout.head()

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,1974300020,20140827T000000,4,2.50,2270,11500,1.0,0,0,3,8,1540,730,1967,0,98034,47.7089,-122.241,2020,10918
1,1974300020,20150218T000000,4,2.50,2270,11500,1.0,0,0,3,8,1540,730,1967,0,98034,47.7089,-122.241,2020,10918
2,3630020380,20141107T000000,3,2.50,1470,1779,2.0,0,0,3,8,1160,310,2005,0,98029,47.5472,-121.998,1470,1576
3,1771000290,20141203T000000,3,1.75,1280,16200,1.0,0,0,3,8,1030,250,1976,0,98077,47.7427,-122.071,1160,10565
4,5126310470,20150115T000000,4,2.75,2830,8126,2.0,0,0,3,8,2830,0,2005,0,98059,47.4863,-122.140,2830,7916

In [26]:
pickle_in = open("model.pickle", "rb")
model = pickle.load(pickle_in)

In [27]:
len(model.coef_)

316

In [51]:
type(feature)

sklearn.preprocessing._data.PolynomialFeatures

In [52]:
selected_columns = pd.read_csv('selected_columns_bestmodel.csv')

In [53]:
selected_columns

     Unnamed: 0                           0
0             0                   bathrooms
1             1                    bedrooms
2             2                 sqft_living
3             3                        view
4             4                       grade
..          ...                         ...
215         215                       lat^2
216         216           lat sqft_living15
217         217          long sqft_living15
218         218             sqft_living15^2
219         219  sqft_living15 waterfront_1

[220 rows x 2 columns]

In [54]:
selected_columns.drop('Unnamed: 0', axis=1, inplace=True)

In [55]:
selected_columns

                              0
0                     bathrooms
1                      bedrooms
2                   sqft_living
3                          view
4                         grade
..                          ...
215                       lat^2
216           lat sqft_living15
217          long sqft_living15
218             sqft_living15^2
219  sqft_living15 waterfront_1

[220 rows x 1 columns]

In [83]:
select_col = list(selected_columns['0'].values)
# select_col

In [64]:
len(select_col)

220

## Step 2: Feature Engineering for holdout set

Remember we have to perform the same transformations on our holdout data (feature engineering, extreme values, and scaling) that we performed on the original data.

In [28]:
holdout

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,1974300020,20140827T000000,4,2.50,2270,11500,1.0,0,0,3,8,1540,730,1967,0,98034,47.7089,-122.241,2020,10918
1,1974300020,20150218T000000,4,2.50,2270,11500,1.0,0,0,3,8,1540,730,1967,0,98034,47.7089,-122.241,2020,10918
2,3630020380,20141107T000000,3,2.50,1470,1779,2.0,0,0,3,8,1160,310,2005,0,98029,47.5472,-121.998,1470,1576
3,1771000290,20141203T000000,3,1.75,1280,16200,1.0,0,0,3,8,1030,250,1976,0,98077,47.7427,-122.071,1160,10565
4,5126310470,20150115T000000,4,2.75,2830,8126,2.0,0,0,3,8,2830,0,2005,0,98059,47.4863,-122.140,2830,7916
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4318,263000018,20140521T000000,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
4319,6600060120,20150223T000000,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
4320,1523300141,20140623T000000,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
4321,291310100,20150116T000000,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
4322,1523300157,20141015T000000,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [85]:
holdout.drop(columns=['date'], inplace = True)

In [86]:
holdout['bedrooms'] = holdout['bedrooms'].replace([0,33,11],[holdout['bedrooms'].median(),3, 4])
holdout['bedrooms']

0       4.0
1       4.0
2       3.0
3       3.0
4       4.0
       ...
4318    3.0
4319    4.0
4320    2.0
4321    3.0
4322    2.0
Name: bedrooms, Length: 4323, dtype: float64

In [87]:
holdout['age'] = 2020 - holdout['yr_built']

In [88]:
holdout['renovation_age'] = np.where(holdout['yr_renovated']>0, 2020 - holdout['yr_renovated'], 0)

In [95]:
no_basement = holdout[holdout['sqft_basement'] == 0]
basement = holdout[holdout['sqft_basement'] != 0]

In [96]:
waterfront = holdout[holdout['waterfront'] == 1]
no_water = holdout[holdout['waterfront'] == 0]

In [111]:
holdout.shape

(4323, 21)

In [103]:
df_dummy = pd.get_dummies(holdout, columns=['condition', 'waterfront'], drop_first='True')

In [117]:
df_dummy.columns

Index(['id', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'view', 'grade', 'sqft_above', 'sqft_basement', 'yr_built',
       'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15',
       'age', 'renovation_age', 'condition_2', 'condition_3', 'condition_4',
       'condition_5', 'waterfront_1'],
      dtype='object')

In [118]:
features = ['bathrooms', 'bedrooms', 'zipcode', 'age', 'sqft_living', 'sqft_lot',
       'floors', 'view', 'grade', 'sqft_above', 'sqft_basement', 'yr_built',
       'yr_renovated', 'lat', 'long', 'sqft_living15', 'sqft_lot15',
       'age', 'renovation_age', 'condition_2', 'condition_3', 'condition_4',
       'condition_5', 'waterfront_1']

In [119]:
len(features)
# features

24

In [120]:
df_dummy.columns

Index(['id', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'view', 'grade', 'sqft_above', 'sqft_basement', 'yr_built',
       'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15',
       'age', 'renovation_age', 'condition_2', 'condition_3', 'condition_4',
       'condition_5', 'waterfront_1'],
      dtype='object')

In [121]:
poly = PolynomialFeatures(degree=2, include_bias=False)
poly_data = poly.fit_transform(df_dummy[features])
poly_data

array([[2.5000e+00, 4.0000e+00, 9.8034e+04, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [2.5000e+00, 4.0000e+00, 9.8034e+04, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [2.5000e+00, 3.0000e+00, 9.8029e+04, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       ...,
       [7.5000e-01, 2.0000e+00, 9.8144e+04, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [2.5000e+00, 3.0000e+00, 9.8027e+04, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [7.5000e-01, 2.0000e+00, 9.8144e+04, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00]])

In [122]:
poly_2 = PolynomialFeatures(degree=2, include_bias=False)
poly2_data = poly_2.fit_transform(df_dummy[features])
poly2_columns = poly_2.get_feature_names(features)
hold_out_poly2 = pd.DataFrame(poly2_data, columns=poly2_columns)
hold_out_poly2.head()

,bathrooms,bedrooms,zipcode,age,sqft_living,sqft_lot,floors,view,grade,sqft_above,sqft_basement,yr_built,yr_renovated,lat,long,sqft_living15,sqft_lot15,age,renovation_age,condition_2,condition_3,condition_4,condition_5,waterfront_1,bathrooms^2,bathrooms bedrooms,bathrooms zipcode,bathrooms age,bathrooms sqft_living,bathrooms sqft_lot,bathrooms floors,bathrooms view,bathrooms grade,bathrooms sqft_above,bathrooms sqft_basement,bathrooms yr_built,bathrooms yr_renovated,bathrooms lat,bathrooms long,bathrooms sqft_living15,bathrooms sqft_lot15,bathrooms age,bathrooms renovation_age,bathrooms condition_2,bathrooms condition_3,bathrooms condition_4,bathrooms condition_5,bathrooms waterfront_1,bedrooms^2,bedrooms zipcode,...,long condition_2,long condition_3,long condition_4,long condition_5,long waterfront_1,sqft_living15^2,sqft_living15 sqft_lot15,sqft_living15 age,sqft_living15 renovation_age,sqft_living15 condition_2,sqft_living15 condition_3,sqft_living15 condition_4,sqft_living15 condition_5,sqft_living15 waterfront_1,sqft_lot15^2,sqft_lot15 age,sqft_lot15 renovation_age,sqft_lot15 condition_2,sqft_lot15 condition_3,sqft_lot15 condition_4,sqft_lot15 condition_5,sqft_lot15 waterfront_1,age^2,age renovation_age,age condition_2,age condition_3,age condition_4,age condition_5,age waterfront_1,renovation_age^2,renovation_age condition_2,renovation_age condition_3,renovation_age condition_4,renovation_age condition_5,renovation_age waterfront_1,condition_2^2,condition_2 condition_3,condition_2 condition_4,condition_2 condition_5,condition_2 waterfront_1,condition_3^2,condition_3 condition_4,condition_3 condition_5,condition_3 waterfront_1,condition_4^2,condition_4 condition_5,condition_4 waterfront_1,condition_5^2,condition_5 waterfront_1,waterfront_1^2
0,2.50,4.0,98034.0,53.0,2270.0,11500.0,1.0,0.0,8.0,1540.0,730.0,1967.0,0.0,47.7089,-122.241,2020.0,10918.0,53.0,0.0,0.0,1.0,0.0,0.0,0.0,6.2500,10.00,245085.00,132.50,5675.0,28750.0,2.50,0.0,20.0,3850.0,1825.0,4917.50,0.0,119.272250,-305.60250,5050.0,27295.00,132.50,0.0,0.0,2.50,0.0,0.0,0.0,16.0,392136.0,...,-0.0,-122.241,-0.0,-0.0,-0.0,4080400.0,22054360.0,107060.0,0.0,0.0,2020.0,0.0,0.0,0.0,119202724.0,578654.0,0.0,0.0,10918.0,0.0,0.0,0.0,2809.0,0.0,0.0,53.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.50,4.0,98034.0,53.0,2270.0,11500.0,1.0,0.0,8.0,1540.0,730.0,1967.0,0.0,47.7089,-122.241,2020.0,10918.0,53.0,0.0,0.0,1.0,0.0,0.0,0.0,6.2500,10.00,245085.00,132.50,5675.0,28750.0,2.50,0.0,20.0,3850.0,1825.0,4917.50,0.0,119.272250,-305.60250,5050.0,27295.00,132.50,0.0,0.0,2.50,0.0,0.0,0.0,16.0,392136.0,...,-0.0,-122.241,-0.0,-0.0,-0.0,4080400.0,22054360.0,107060.0,0.0,0.0,2020.0,0.0,0.0,0.0,119202724.0,578654.0,0.0,0.0,10918.0,0.0,0.0,0.0,2809.0,0.0,0.0,53.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.50,3.0,98029.0,15.0,1470.0,1779.0,2.0,0.0,8.0,1160.0,310.0,2005.0,0.0,47.5472,-121.998,1470.0,1576.0,15.0,0.0,0.0,1.0,0.0,0.0,0.0,6.2500,7.50,245072.50,37.50,3675.0,4447.5,5.00,0.0,20.0,2900.0,775.0,5012.50,0.0,118.868000,-304.99500,3675.0,3940.00,37.50,0.0,0.0,2.50,0.0,0.0,0.0,9.0,294087.0,...,-0.0,-121.998,-0.0,-0.0,-0.0,2160900.0,2316720.0,22050.0,0.0,0.0,1470.0,0.0,0.0,0.0,2483776.0,23640.0,0.0,0.0,1576.0,0.0,0.0,0.0,225.0,0.0,0.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.75,3.0,98077.0,44.0,1280.0,16200.0,1.0,0.0,8.0,1030.0,250.0,1976.0,0.0,47.7427,-122.071,1160.0,10565.0,44.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0625,5.25,171634.75,77.00,2240.0,28350.0,1.75,0.0,14.0,1802.5,437.5,3458.00,0.0,83.549725,-213.62425,2030.0,18488.75,77.00,0.0,0.0,1.75,0.0,0.0,0.0,9.0,294231.0,...,-0.0,-122.071,-0.0,-0.0,-0.0,1345600.0,12255400.0,51040.0,0.0,0.0,1160.0,0.0,0.0,0.0,111619225.0,464860.0,0.0,0.0,10565.0,0.0,0.0,0.0,1936.0,0.0,0.0,44.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2.75,4.0,98059.0,15.0,2830.0,8126.0,2.0,0.0,8.0,2830.0,0.0,2005.0,0.0,47.4863,-122.140,2830.0,7916.0,15.0,0.0,0.0,1.0,0.0,0.0,0.0,7.5625,11.00,269662.25,41.25,7782.5,22346.5,5.50,0.0,22.0,7782.5,0.0,5513.75,0.0,130.587325,-335.88500,7782.5,21769.00,41.25,0.0,0.0,2.75,0.0,0.0,0.0,16.0,392236.0,...,-0.0,-122.140,-0.0,-0.0,-0.0,8008900.0,22402280.0,42450.0,0.0,0.0,2830.0,0.0,0.0,0.0,62663056.0,118740.0,0.0,0.0,7916.0,0.0,0.0,0.0,225.0,0.0,0.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [123]:
hold_out_poly2.shape

(4323, 324)

In [124]:
# scaled_holdout = scaler.transform(hold_out_poly2[select_col])

In [ ]:
# preds = final_model.predict(scaled_holdout)

In [109]:
y_pred = model.predict(poly)
y_pred

ValueError: Expected 2D array, got scalar array instead:
array=PolynomialFeatures(include_bias=False).
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [39]:
# poly.get_feature_names(features)

In [122]:
poly_data

array([[2.2700e+03, 1.1500e+04, 0.0000e+00, ..., 5.3290e+05, 1.1242e+06,
        2.3716e+06],
       [2.2700e+03, 1.1500e+04, 0.0000e+00, ..., 5.3290e+05, 1.1242e+06,
        2.3716e+06],
       [1.4700e+03, 1.7790e+03, 0.0000e+00, ..., 9.6100e+04, 3.5960e+05,
        1.3456e+06],
       ...,
       [1.0200e+03, 1.3500e+03, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        1.0404e+06],
       [1.6000e+03, 2.3880e+03, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        2.5600e+06],
       [1.0200e+03, 1.0760e+03, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        1.0404e+06]])

In [82]:
# transformed_holdout = final_scaler(holdout)

## Step 3: Predict the holdout set

In [83]:
# final_answers = final_model.predict(transformed_holdout)

In [50]:
y_pred = model.predict(poly)
y_pred

ValueError: Expected 2D array, got scalar array instead:
array=PolynomialFeatures(include_bias=False).
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

## Step 4: Export your predictions

In [85]:
# final_answer.to_csv('housing_preds_your_name.csv')

In [125]:
pd.DataFrame(y_pred).to_csv('housing_pred_Raizel_Bernstein_2.csv')