In [24]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import pandas as pd
import math
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from statsmodels.formula.api import ols
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn import metrics
from sklearn.preprocessing import StandardScaler
import pickle

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 50)

## Step 1: Read in hold out data, scalers, and best model

In [25]:
# holdout = pd.read_csv('resources/movies_holdout_features.csv', index_col=0)

In [26]:
# final_scaler = read_pickle(filename)
# final_model = read_pickle(filename)

In [72]:
holdout = pd.read_csv('kc_house_data_test_features.csv')
holdout

,Unnamed: 0,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,1974300020,20140827T000000,4,2.50,2270,11500,1.0,0,0,3,8,1540,730,1967,0,98034,47.7089,-122.241,2020,10918
1,1,1974300020,20150218T000000,4,2.50,2270,11500,1.0,0,0,3,8,1540,730,1967,0,98034,47.7089,-122.241,2020,10918
2,2,3630020380,20141107T000000,3,2.50,1470,1779,2.0,0,0,3,8,1160,310,2005,0,98029,47.5472,-121.998,1470,1576
3,3,1771000290,20141203T000000,3,1.75,1280,16200,1.0,0,0,3,8,1030,250,1976,0,98077,47.7427,-122.071,1160,10565
4,4,5126310470,20150115T000000,4,2.75,2830,8126,2.0,0,0,3,8,2830,0,2005,0,98059,47.4863,-122.140,2830,7916
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4318,4318,263000018,20140521T000000,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
4319,4319,6600060120,20150223T000000,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
4320,4320,1523300141,20140623T000000,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
4321,4321,291310100,20150116T000000,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
4322,4322,1523300157,20141015T000000,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [73]:
pickle_in = open("model.pickle", "rb")
model = pickle.load(pickle_in)

In [74]:
model.coef_

array([-1.00670530e+07, -3.11319588e+01,  1.08106252e+05, -2.80476547e+06,
        3.86849729e+05,  8.16749664e+05, -3.08380365e+03, -1.27171123e+05,
        1.00673720e+07,  1.00680501e+07,  5.08422818e+00, -1.51892032e+01,
        5.97572636e-01,  2.07801645e+02,  1.85526806e+01,  1.36339153e+01,
        1.81233079e+01, -5.81952396e-01, -3.29081187e+00, -7.08464142e+00,
        8.16216925e-07, -1.16938776e-01, -2.00154025e+00,  5.08447020e-02,
       -7.86018174e-03,  1.41913741e-04,  1.60761921e-02,  1.51884761e+01,
        1.51887350e+01,  4.94039648e+03,  2.33593061e+04,  9.06705399e+03,
        1.08351583e+04,  2.02239738e+00, -9.34759688e+01, -1.48978639e+01,
       -5.67369750e+00, -2.80474531e+06,  8.91944390e+03, -1.16807109e+05,
       -9.02490191e+01,  3.09683294e+03,  8.64777325e+01,  1.40399957e+02,
        6.65465547e+02,  8.34616825e+03, -2.03607826e+01, -2.42400274e+02,
        7.12730052e+00,  8.23228488e+00,  7.44158615e+03,  8.64445035e+00,
       -4.55326681e+02,  4.62872444e+01,  9.42587050e+00,  5.79743266e-01,
        9.83941612e-01, -1.80879100e+01, -1.81073595e+01,  3.31764005e+01,
        2.33802974e-01, -5.54879075e-02, -1.87539559e+00,  2.33296296e-01,
        2.02828386e+00])

In [75]:
feature_in = open("feature.pickle", "rb")
feature = pickle.load(feature_in)
feature_in.close()

In [76]:
type(model)

sklearn.linear_model._base.LinearRegression

In [77]:
type(feature)

sklearn.preprocessing._data.PolynomialFeatures

## Step 2: Feature Engineering for holdout set

Remember we have to perform the same transformations on our holdout data (feature engineering, extreme values, and scaling) that we performed on the original data.

In [78]:
holdout

,Unnamed: 0,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,1974300020,20140827T000000,4,2.50,2270,11500,1.0,0,0,3,8,1540,730,1967,0,98034,47.7089,-122.241,2020,10918
1,1,1974300020,20150218T000000,4,2.50,2270,11500,1.0,0,0,3,8,1540,730,1967,0,98034,47.7089,-122.241,2020,10918
2,2,3630020380,20141107T000000,3,2.50,1470,1779,2.0,0,0,3,8,1160,310,2005,0,98029,47.5472,-121.998,1470,1576
3,3,1771000290,20141203T000000,3,1.75,1280,16200,1.0,0,0,3,8,1030,250,1976,0,98077,47.7427,-122.071,1160,10565
4,4,5126310470,20150115T000000,4,2.75,2830,8126,2.0,0,0,3,8,2830,0,2005,0,98059,47.4863,-122.140,2830,7916
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4318,4318,263000018,20140521T000000,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
4319,4319,6600060120,20150223T000000,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
4320,4320,1523300141,20140623T000000,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
4321,4321,291310100,20150116T000000,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
4322,4322,1523300157,20141015T000000,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [79]:
features_orig = ['sqft_living', 'sqft_lot', 'view', 'waterfront', 'condition', 'grade', 'yr_renovated',
            'yr_built', 'sqft_basement', 'sqft_above']

In [80]:
poly = PolynomialFeatures(degree=2, include_bias=False)
poly_data = poly.fit_transform(holdout[features_orig])
poly_data

array([[2.2700e+03, 1.1500e+04, 0.0000e+00, ..., 5.3290e+05, 1.1242e+06,
        2.3716e+06],
       [2.2700e+03, 1.1500e+04, 0.0000e+00, ..., 5.3290e+05, 1.1242e+06,
        2.3716e+06],
       [1.4700e+03, 1.7790e+03, 0.0000e+00, ..., 9.6100e+04, 3.5960e+05,
        1.3456e+06],
       ...,
       [1.0200e+03, 1.3500e+03, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        1.0404e+06],
       [1.6000e+03, 2.3880e+03, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        2.5600e+06],
       [1.0200e+03, 1.0760e+03, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        1.0404e+06]])

In [81]:
y_pred = model.predict(poly_data)
y_pred

array([546166.80373214, 546166.80373214, 435266.28727932, ...,
       314492.51868157, 405295.08130141, 312725.79143898])

In [82]:
# transformed_holdout = final_scaler(holdout)

## Step 3: Predict the holdout set

In [83]:
# final_answers = final_model.predict(transformed_holdout)

In [84]:
y_pred = model.predict(poly_data)
y_pred

array([546166.80373214, 546166.80373214, 435266.28727932, ...,
       314492.51868157, 405295.08130141, 312725.79143898])

## Step 4: Export your predictions

In [85]:
# final_answer.to_csv('housing_preds_your_name.csv')

In [86]:
pd.DataFrame(y_pred).to_csv('housing_pred_Raizel_Bernstein.csv')